

    .theme-dark:root {
        --primary-100: #f5f5f4;
--primary-200: #e7e5e4;
--primary-300: #d6d3d1;
--primary-400: #a8a29e;
--primary-500: #78716c;
--primary-600: #57534e;
--primary-700: #44403c;
--primary-800: #292524;
--primary-900: #1c1917;

        --secondary-100: #ccfbf1;
--secondary-200: #99f6e4;
--secondary-300: #5eead4;
--secondary-400: #2dd4bf;
--secondary-500: #14b8a6;
--secondary-600: #0d9488;
--secondary-700: #0f766e;
--secondary-800: #115e59;
--secondary-900: #134e4a;

        --accent-100: #ccfbf1;
--accent-200: #99f6e4;
--accent-300: #5eead4;
--accent-400: #2dd4bf;
--accent-500: #14b8a6;
--accent-600: #0d9488;
--accent-700: #0f766e;
--accent-800: #115e59;
--accent-900: #134e4a;

        --green-100: #ccfbf1;
--green-200: #99f6e4;
--green-300: #5eead4;
--green-400: #2dd4bf;
--green-500: #14b8a6;
--green-600: #0d9488;
--green-700: #0f766e;
--green-800: #115e59;
--green-900: #134e4a;

        --orange-100: #ffedd5;
--orange-200: #fed7aa;
--orange-300: #fdba74;
--orange-400: #fb923c;
--orange-500: #f97316;
--orange-600: #ea580c;
--orange-700: #c2410c;
--orange-800: #9a3412;
--orange-900: #7c2d12;

        --red-100: #fee2e2;
--red-200: #fecaca;
--red-300: #fca5a5;
--red-400: #f87171;
--red-500: #ef4444;
--red-600: #dc2626;
--red-700: #b91c1c;
--red-800: #991b1b;
--red-900: #7f1d1d;

        --tv-color-platform-background: var(--primary-900);
        --tv-color-pane-background: var(--primary-900);
        --tv-color-pane-background-secondary: var(--primary-900);
    }
    html.theme-dark {
        background-color: var(--primary-900);
    }
    html.theme-dark .group-3uonVBsm {
        background-color:  var(--primary-900) !important;
    }