

    .theme-dark:root {
        --primary-100: #f4f4f5;
--primary-200: #e4e4e7;
--primary-300: #d4d4d8;
--primary-400: #a1a1aa;
--primary-500: #71717a;
--primary-600: #52525b;
--primary-700: #3f3f46;
--primary-800: #27272a;
--primary-900: #18181b;

        --secondary-100: #d1fae5;
--secondary-200: #a7f3d0;
--secondary-300: #6ee7b7;
--secondary-400: #34d399;
--secondary-500: #10b981;
--secondary-600: #059669;
--secondary-700: #047857;
--secondary-800: #065f46;
--secondary-900: #064e3b;

        --accent-100: #d1fae5;
--accent-200: #a7f3d0;
--accent-300: #6ee7b7;
--accent-400: #34d399;
--accent-500: #10b981;
--accent-600: #059669;
--accent-700: #047857;
--accent-800: #065f46;
--accent-900: #064e3b;

        --green-100: #d1fae5;
--green-200: #a7f3d0;
--green-300: #6ee7b7;
--green-400: #34d399;
--green-500: #10b981;
--green-600: #059669;
--green-700: #047857;
--green-800: #065f46;
--green-900: #064e3b;

        --orange-100: #ffedd5;
--orange-200: #fed7aa;
--orange-300: #fdba74;
--orange-400: #fb923c;
--orange-500: #f97316;
--orange-600: #ea580c;
--orange-700: #c2410c;
--orange-800: #9a3412;
--orange-900: #7c2d12;

        --red-100: #fee2e2;
--red-200: #fecaca;
--red-300: #fca5a5;
--red-400: #f87171;
--red-500: #ef4444;
--red-600: #dc2626;
--red-700: #b91c1c;
--red-800: #991b1b;
--red-900: #7f1d1d;

        --tv-color-platform-background: var(--primary-900);
        --tv-color-pane-background: var(--primary-900);
        --tv-color-pane-background-secondary: var(--primary-900);
    }
    html.theme-dark {
        background-color: var(--primary-900);
    }
    html.theme-dark .group-3uonVBsm {
        background-color:  var(--primary-900) !important;
    }